* {
    font-family: Verdana, Arial, sans-serif;
}

table {
    font-size: x-small;
    background-color: red;
}

td {
    background-color: skyblue;
}

tfoot tr td {
    font-weight: bold;
    font-size: x-small;
}

.invoice {
    border: 1px solid black;
    padding: 10px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.document-title {
    text-align: center;
    margin: 0;
    padding: 0;
}

.company-info {
    text-align: right;
    vertical-align: top;
}

.table-title {
    background-color: lightblue
}

.gray {
    background-color: lightgray
}

.logo {
    width: 100px;
}